/* @import url('function.css'); */

:root {
  --primary-color: #f48e28;
  --secondary-color: #f5ddc4;
  --bg-color: rgb(20, 31, 42);
  --bg-article: rgb(24, 26, 27);
  --text-color: rgb(232, 230, 227);
  --legende-color: rgba(213, 213, 213, 0.8);

  --tiny-font-size: 10px;
  --small-font-size: 14px;
  --regular-font-size: 18px;
  --medium-font-size: 24px;
  --medium-large-font-size: 36px;
  --large-font-size: 48px;
  --big-font-size: 60px;
  --bigger-font-size: 72px;
  --giant-font-size: 84px;

  --primary-font-family: Aktiv Grotesk, sans-serif;
  --article-font-family: Graphik, sans-serif;
  --article-second-font-family: 'Deltro-Neue', Arial, sans-serif;

  --small: 600px;
  --medium: 760px;
  --large: 960px;
}
