---
import '../styles/global.css'
import myPlus from '/plus_icon.png'
import myCheck from '/check_icon.png'
---

<body>
  <section class='container'>
    <div class='section_content'>
      <div class='section_row'>
        <div class='section_row_title'>
          <h3>Results</h3>
          <img src={myPlus} alt="icone d'un plus" />
        </div>
        <ul class='section_row_list'>
          <li>Adapted Life Is Strange 2 for Nintendo Switch and Stadia</li>
          <li>Ensured stable framerate</li>
          <li>
            Upgraded the project to Unreal Engine 4.26 to allow Stadia support
          </li>
          <li>
            Accelerated time to market by effectively managing project risks and
            organizing a proper work process
          </li>
        </ul>
      </div>
      <hr class='solid' />
      <div class='section_row'>
        <div class='section_row_title'>
          <h3>Solution</h3>
          <img src={myCheck} alt="icone d'un check validé" />
        </div>
        <div class='section_row_description'>
          <p>
            One of our main goals in this project was to make the adaptation for
            Switch and Stadia play and feel as if the developers of the original
            game had designed it with these platforms in mind from the get-go.
            But tailoring and fine-tuning a game like Life Is Strange 2, which
            was first released in 2018 – almost 5 years ago – to other platforms
            always comes with risks involved. The fact that the game ran on an
            engine that didn’t support Stadia was one such risk. Also, LiS 2 has
            some “expensive” features in terms of performance and we needed to
            create a workaround to adapt them to a platform like Switch. We
            addressed all these challenges without going into overtime or
            working weekends. Thanks to our in-depth project assessment, timely
            risk management, effective leadership, and goal-oriented approach,
            Life Is Strange 2 has successfully made it to Switch and Stadia
            without any “surprises.”
          </p>
          <h4>```No, it wasn’t a cakewalk.```</h4>
        </div>
      </div>
    </div>
  </section>

  <style scoped>
    body {
      background: #181a1b;
    }

    .container {
      font-family: var(--article-font-family);

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: #e8e6e3;

      width: 1440px;
      max-width: 100%;
      margin: 0 auto;
      padding: 100px 110px;
    }
    .section_content {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    .section_row {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
    .section_row_title {
      display: flex;
      flex-direction: column;
      gap: 40px;

      min-width: 275px;

      font-size: 43px;
      font-weight: bold;
      line-height: 60px;
      letter-spacing: normal;
    }
    .section_row_title img {
      width: 60px;
      height: 60px;
    }

    .section_row_list {
      font-size: 30px;
      line-height: 40px;
      padding-top: 10px;
    }
    .section_row_description {
      padding-left: 10px;
      padding-top: 5px;
      font-size: 30px;
      line-height: 40px;
    }

    hr.solid {
      border-top: 1px #383d40;
    }
  </style>
</body>
