---
import BaseLayout from '../layouts/base-layout.astro'
import '../styles/global.css'
---

<BaseLayout
  description='Étudiant passionné par la 3D, je suis basé à Besançon où je crée des univers uniques grâce à mes compétences en modélisation et animation.'
>
  <div class='wrapper'>
    <div class='photo'></div>
    <div class='content'>
      <div class='text'>
        <div class='left'>
          <div class='introduction'>
            <h1>Hello!</h1>
            <p>
              My name is Thao Hoa (Bong). My strengths are Visual Development,
              Illustration and Concept art. I love creating and storytelling. I
              look forward to contributing my creativity and skills to
              innovative projects. Hope you enjoy my portfolio!
            </p>
          </div>
          <div class='education'>
            <h2>education</h2>
            <div class='about-card'>
              <h3>2020 - 2024: Ho Chi Minh University of Fine Art</h3>
              <p>Graduated with a major in Multimedia Design</p>
            </div>
          </div>
        </div>
        <div class='right'>
          <div class='skills'>
            <h2>skills</h2>
          </div>
          <div class='experience'>
            <h2>experience</h2>
            <div class='about-card'>
              <h3>2020 - 2023</h3>
              <p>Illustration at Huta Chan Studio</p>
            </div>
            <div class='about-card'>
              <h3>2022 - Present</h3>
              <p>Freelance Illustration Artist</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style scoped>
  html,
  body {
    height: 100%; /* Ensure html and body take up the full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove any default padding */
    overflow: hidden; /* Prevents scrolling if content overflows */
  }

  body {
    background-image: url('/public/about.png');
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    font-family: 'Gilroy', sans-serif;
    background-color: var(--v2-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    padding-inline: 175px;
  }

  .photo {
    background-color: red;
    width: 31.5%;
    height: 100%;
    border-radius: 80px;
    margin-top: 15px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the content vertically */
    padding-left: 20px; /* Optional: Adds space between photo and content */
    width: 50%;
  }

  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 900; /* Ensure it uses the Black weight */
    /* color: var(--v2-secondary); */
    color: red;
    font-size: 200px;
    margin: 0;
  }

  p {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
  }
</style>
