---
import BaseLayout from '../layouts/base-layout.astro'
import '../styles/global.css'

---


<BaseLayout
  description='Étudiant passionné par la 3D, je suis basé à Besançon où je crée des univers uniques grâce à mes compétences en modélisation et animation.'
>
    <h1>Hello!</h1>
</BaseLayout>


<style scoped>


html, body {
    height: 100%;           /* Ensure html and body take up the full height */
    margin: 0;              /* Remove default margin */
    padding: 0;             /* Remove any default padding */
    overflow: hidden;       /* Prevents scrolling if content overflows */
}

body {
    background-image: url('/public/about.png');
    background-size: cover;       /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;  /* Centers the image */
    font-family: 'Gilroy', sans-serif;
    background-color: #F0EFEF;
}

h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 900; /* Ensure it uses the Black weight */
    color: #323641;
    font-size: 270px;
    margin: 0;
    text-align: center; /* Center the text horizontally */
}


</style>