---
import testImage from '../assets/image/4.png'

import '../styles/font.css'
---

<main class='main'>
  <div class='wrapper'>
    <h2 class='first'>KAWASAKI THE</h2>
    <h2 class='last'>KAWASAKI THE</h2>
    <img src={testImage} />
  </div>
</main>

<style>
  .main {
    height: 100vh;
    background: #333;
    padding: 200px;
  }

  .wrapper {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: xbold;
    position: relative;
  }

  .wrapper h2 {
    color: white;
    transform: scale(1.2);
    transition: all 0.8s ease;
    font-size: 20px;
    position: absolute;
    top: 0;
    font-family: aktiv-grotesk-extended;
  }

  h2.last {
    color: transparent;
    -webkit-text-stroke: 1px white;
    z-index: 10;
  }

  h2.active {
    font-size: 40px;
  }

  .wrapper img {
    position: absolute;
    left: 130px;
    transition: all 0.8s ease;
    /* transform: scale(1); */
  }

  .active {
    transform: scale(1.2);
  }
</style>

<script>
  ;(document.querySelector('.wrapper') as HTMLDivElement).addEventListener(
    'mouseover',
    () => {
      const titles = document.querySelectorAll('h2')
      const img = document.querySelector('img')!

      titles.forEach((title) => title.classList.add('active'))
      img.classList.add('active')
    },
  )
  ;(document.querySelector('.wrapper') as HTMLDivElement).addEventListener(
    'mouseout',
    () => {
      const titles = document.querySelectorAll('h2')
      const img = document.querySelector('img')!

      titles.forEach((title) => title.classList.remove('active'))
      img.classList.remove('active')
    },
  )
</script>
