---
import '../styles/global.css'
import myPlus from '../../public/plus_icon.png'
import myCheck from '../../public/check_icon.png'
import type { Project } from '../content/config'

type Props = {
  procons: Project['procons']
}

const props = Astro.props
---

<div>
  <!-- Styliser le container  -->
  {
    props.procons.map((procon: any) => (
      <div class='section_row'>
        <div class='section_row_title'>
          <h3>{procon.title}</h3>
          <img src={procon.image} alt="icone d'un plus" />
        </div>
        <div class='section_row_description'>
          {procon.list?.map((text: string) => (
            <li>{text}</li>
          ))}
          {procon.paragraph}
          <slot />
        </div>
      </div>
    ))
  }
</div>

<style scoped>
  /* body {
    background: #181a1b;
  } */

  .section_row {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .section_row_title {
    display: flex;
    flex-direction: column;
    gap: 40px;

    min-width: 275px;

    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: normal;
  }
  .section_row_title img {
    width: 60px;
    height: 60px;
  }

  .section_row_list {
    font-size: 30px;
    line-height: 40px;
    padding-top: 10px;
    list-style: unset;
  }
  .section_row_description {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 30px;
    line-height: 40px;
  }

  hr.solid {
    border-top: 1px #383d40;
  }
</style>
