<div class='nav'>
  <div class='nav-content'>
    <div class='top-left'>
      <a href='/'>
        <h3>THOMAS</h3>
        <h3>PAQUIER</h3>
      </a>
    </div>
    <div class='top-right'>
      <a href='/projects#'>Projects</a>
      <a href='#'>Drawing</a>
    </div>
  </div>
</div>

<style scoped>
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 120px 160px;
    background-color: transparent;
    z-index: 100;
  }
  .nav-content {
    position: relative;
    height: 80%;
    width: 90%;
    color: var(--v2-secondary);
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: var(--v2-secondary);
    }
    a:hover {
      color: var(--v2-primary-hover);
      filter: drop-shadow(0 0 20px var(--v2-primary-hover));
    }
  }
  .nav-content div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    a > h3 {
      font-size: 14px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      letter-spacing: 5px;
      z-index: 100;
    }
  }
  .nav-content div:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    letter-spacing: 1.4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
  }

  .nav-content div:nth-child(3) {
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 14px;
    letter-spacing: 1.4px;
    /* text-transform: none; */
  }
</style>
