---
import '../../styles/global.css'
import '../../assets/icons/fleche.svg'
import blueVideo from '../../../public/video/blue_anim.mp4'
import yellowVideo from '../../../public/video/yellow_anim.mp4'
import orangeVideo from '../../../public/video/orange_anim.mp4'
import purpleVideo from '../../../public/video/purple_anim.mp4'
---

<body>
  <div class='container'>
    <div class='intro'>
      <h2 class='intro_icon'>art.gal</h2>

      <div class='intro_hero'>
        <h2 class='intro_titre'>FOLLOW THE ART</h2>
        <p class='intro_description'>
          No doubt the artist is the child of his time; but woe to him if he is
          also its disciple, or even its favorite.
        </p>
      </div>
    </div>
    <div class='grid'>
      <div class='col_blue'>
        <img
          src='../../assets/icons/fleche.svg'
          alt='une flèche qui pointe vers une autre page'
          height='50px'
          width='50px'
          class='col_icon'
        />
        <h2 class='col_titre'>Galleries</h2>
        <video loop muted>
          <source src={blueVideo} type='video/mp4' />
        </video>
      </div>
      <div class='col_red'>
        <img
          src='https://cdn4.iconfinder.com/data/icons/budicon-arrow/25/arrow-top-right-a-512.png'
          alt='une flèche qui pointe vers une autre page'
          class='col_icon'
        />
        <h2 class='col_titre'>Calendar</h2>
        <video loop muted>
          <source src={yellowVideo} type='video/mp4' />
        </video>
      </div>
      <div class='col_yellow'>
        <img
          src='https://cdn4.iconfinder.com/data/icons/budicon-arrow/25/arrow-top-right-a-512.png'
          alt='une flèche qui pointe vers une autre page'
          class='col_icon'
        />
        <h2 class='col_titre'>Explore</h2>
        <video loop muted>
          <source src={orangeVideo} type='video/mp4' />
        </video>
      </div>
      <div class='col_purple'>
        <img
          src='https://cdn4.iconfinder.com/data/icons/budicon-arrow/25/arrow-top-right-a-512.png'
          alt='une flèche qui pointe vers une autre page'
          class='col_icon'
        />
        <h2 class='col_titre'>Contact</h2>
        <video loop muted>
          <source src={purpleVideo} type='video/mp4' />
        </video>
      </div>
    </div>
  </div>
</body>

<script>
  const grid = document.querySelector('.grid') as HTMLElement
  const items = document.querySelectorAll('.grid > div')

  items.forEach((item, index) => {
    item.addEventListener('mouseenter', () => {
      const values = Array(items.length).fill('1fr')
      if (index > 0) {
        values[index - 1] = '0.8fr'
      }
      values[index] =
        index === 0 || index === values.length - 1 ? '1.2fr' : '1.4fr'
      if (index < items.length - 1) {
        values[index + 1] = '0.8fr'
      }
      grid.style.gridTemplateColumns = values.join(' ')
    })
    item.addEventListener('mouseleave', () => {
      grid.style.gridTemplateColumns = Array(items.length).fill('1fr').join(' ')
    })
  })

  //  Play video on hover
  const videos = document.querySelectorAll('video')
  videos.forEach((video) => {
    video.addEventListener('mouseenter', () => {
      video.play()
    })
    video.addEventListener('mouseleave', () => {
      video.pause()
    })
  })
</script>

<style scoped>
  body {
    margin: 0px;
    padding: 0px;
  }
  h2 {
    font-family: var(--bigger-font-size);
  }

  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .intro {
    width: 50%;
    position: relative;
  }
  .intro_icon {
    position: absolute;
    font-weight: 900;
    top: 5px;
    left: 17px;
  }

  .intro_hero {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 40px;
    top: 25%;
    gap: 40px;
  }
  .intro_titre {
    font-size: var(--giant-font-size);
    font-family: var(--primary-font-family);
    line-height: 1;
    padding-right: 45%;
    font-weight: 800;
  }
  .intro_description {
    font-size: var(--regular-font-size);
    font-family: var(--primary-font-family);
    line-height: 1.1;
    padding-right: 366px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    grid-gap: 7px;
    transition: 0.3s;
    /* transition: ease-in-out 0.3s; */
  }

  .col_icon {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40px;
    width: 75px;
    height: 75px;
  }
  .col_titre {
    display: flex;
    position: absolute;
    margin-bottom: 120px;
    font-size: var(--big-font-size);
    font-family: var(--primary-font-family);
    transform: rotate(-90deg);
    color: white;
    /* transform: rotate(-90deg); */
  }
  .col_blue {
    position: relative;
    background: #00f;
    border-width: 20px solid white;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .col_blue video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .col_blue h2 {
    z-index: 1;
  }

  .col_red {
    position: relative;
    background: #f00;
    border-width: 20px solid white;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .col_red video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .col_red h2 {
    z-index: 1;
  }
  .col_yellow {
    position: relative;
    background: #ff0;
    border-width: 20px solid white;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .col_yellow video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .col_yellow h2 {
    z-index: 1;
  }
  .col_purple {
    position: relative;
    background: purple;
    border-width: 20px solid white;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .col_purple video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .col_purple h2 {
    z-index: 1;
  }
</style>
